.venue-details {
    display: flex;
    flex-direction: row;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    position: relative;
    width: 93%;
    height: 93%;
    background: white;
    margin: 1rem;
    overflow: hidden;
    color: #555b64;
}

.Venue-content-container {
    width: calc(50% - 2rem);
    height: calc(100% - 3rem);
    margin: 0.5rem;
}