.send-button {
    background-image: url("../../assets/send-button.svg");
}

.message-input {
    resize: none;
    width: 100%;
    padding: 1rem;
    text-align: left;
    vertical-align: middle;
    overflow-y: hidden ;
    height: 2rem;
    max-height: 4rem;
    line-height: 1.5rem;
    font-size: 1rem;
    border:none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
}

.message-input:focus-visible {
    border: none;
    outline: none;
}

.message-input-container {
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

.send {
    position: absolute;
    right: 1.5rem;
}